* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* First entry HTML Css start */

.full-height {
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.language-box {
    width: 150px;
}

.language-box-text {
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #C4C4C4;
    font-size: 17px;
    font-weight: 300;
    border-bottom: 1px solid #414141;
}


.language-box-text-to.active-top {
    margin-top: 60px;
}

.language-box-text-to.active-border {
    border-bottom: 1px solid #414141
}


.language-box-text-to {
    margin-bottom: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 300;
    color: #212121;
}

.language-box-text-to .fa-chevron-up {
    font-size: 12px;
    margin-left: 10px;
    color: #C4C4C4;
}

.language-box .fa-chevron-down {
    font-size: 12px;
    margin-left: 10px;
}

.gradient-button {
    width: 105px;
    height: 30px;
    background: linear-gradient(270.9deg, #5403FF 0.33%, #00CCFF 99.93%);
    border-radius: 5px;
    bottom: 0;
    color: white;
    font-size: 14px;
    border: none;
    position: relative;
    top: 22%;
    margin-top: 36px;
    margin-bottom: 0;
    outline-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Sign Up css */

.button-group {
    position: relative;
    top: 22%;
}

.button-white:first-child {
    margin-right: 14px;
}

.button-white {
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    border-radius: 25px;
    width: 145px;
}

.logo-comp-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #989898;
    position: relative;
    top: 26%;
    font-weight: 300;
}

/* Sign css */

.form-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 10px;
}

.form-box input {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 6px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
    outline: #4400FF;
}

.form-box input::placeholder {
    color: #B6B6B6;
    font-size: 13px;
}

.forgot-password {
    font-size: 12px;
    margin-top: 16px;
    color: #5BB0FF;
    font-weight: 300;
}

/* registration css */

.registration {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.registration nav {
    width: 90%;
}

.registration nav p {
    width: 50%;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #969696;
    border-bottom: 2px solid #969696;
}

.registration .active {
    color: black;
    border-bottom: 2px solid black;
}


.registration .back {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    height: 25px;
    background: transparent;
    border: none;
    outline-color: transparent;
    top: 2%;
    left: 5%;
    font-size: 30px;
    color: black;
}

.registration .back-text {
    font-size: 16px;
    margin-top: 6px;
    margin-left: 10px;
    color: #242424;
}

.registration form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.input-phone {
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}


.registration .form-box {
    display: flex;
    flex-direction: unset;
    width: 90%;
    margin-top: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.country-phone {
    width: 25%;
    text-align: center;
    padding: 5px;
}

.country-phone-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 99999;
}

.close-modal {
    font-size: 16px;
    position: absolute;
    left: 16px;
    top: 14px;
    font-weight: 500;
}

.all-country-title {
    display: block;
    color: #929292;
    font-size: 14px;
}

.all-country-text {
    font-size: 15px;
    margin-bottom: 0;
}

.all-country-code {
    color: #929292;
    font-size: 15px;
    margin-bottom: 0;
}


.country-code {
    color: #729fc8;
    text-align: center;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid #d1d1d1;
}

.registration .form-box input {
    width: 60%;
    border: none;
    border-radius: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding: 10px 6px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 0;
    outline: transparent;
}

.registration .form-box input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: unset;
}

.registration label {
    color: #B6B6B6;
    font-size: 13px;
}

.registration .form-box input::placeholder {
    color: #B6B6B6;
    font-size: 13px;
    text-align: left;
}


.registration .gradient-button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270.9deg, #5403FF 0.33%, #00CCFF 99.93%);
    border-radius: 5px;
    bottom: 0;
    color: white;
    font-size: 18px;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10%;
    margin-top: 36px;
    margin-bottom: 25px;
    outline-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
}

.registration .form-box .registration-two-input {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.form-group .registration-two-input {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.form-group .registration-two-input::placeholder {
    color: #B6B6B6;
}

.registration-two-input {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

.registration .change-num {
    color: #3b93dd;
}

.Change {
    font-size: 18px;
    width: 90%;
}

.modal-confirm {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-confirm-block {
    width: 300px;
    height: 262px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 22px;
    position: relative;
    background: #FFFFFF;
}

.modal-confirm-text {
    font-size: 14px;
    text-align: center;
    color: #343434;
    padding: 0 30px;
    transform: translateY(-10px);
}

.modal-for-blur .gradient-button {
    top: -30%;
}

.modal-confirm .gradient-button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270.9deg, #5403FF 0.33%, #00CCFF 99.93%);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 57%;
    margin-top: 36px;
    margin-bottom: 25px;
    outline-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
}

/* Slider Page css start */

.slider-body {
    background: white;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

.swiper-container {
    width: 100%;
    height: 100%;

}

.flex {
    display: flex;
    flex-direction: column;
    width: 91%;
    z-index: 10;
}

.start-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91%;
    z-index: 10;
}

.start-box-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: url("../images/shadow.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.start-box-shadow-box {
    display: flex;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    background: linear-gradient(279.57deg, #232FFF 0.37%, #0CAEFF 100%);
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 0;
    border: none;
}

.start-box-shadow-box:focus {
    box-shadow: unset;
    outline: unset;
}

.slider-icon-img {
    width: 45px;
    height: 40px;
    margin-right: 34px;
}

.slider-icon-img-text {
    color: #5C5C5C;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.flex p {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 10px;
    color: #787878;
    z-index: 10;
}

.flex .black {
    color: black;
    z-index: 10;
}

.flex span {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 36px;
    color: #787878;
}

.flex .pad-2 {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 27px;
    color: #787878;
    z-index: 10;
}

.flex .pad-3 {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    padding: 0;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: #787878;
    z-index: 10;
}

.gradient-text {
    font-size: 29px;
    font-weight: 800;
    background: linear-gradient(
            11.82deg,
            #00ddff 0.06%,
            #4400ff 46.48%,
            #FF06E7 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    z-index: 10;
    animation: AnimationName 5s infinite;
}

.gradient-text-2 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(
            11.82deg,
            #FF06E7 10%,
            #4400ff 46.48%,
            #00ddff 90.06%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 8s infinite;
    z-index: 10;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
}

.registration-full header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

.registration-full header .back {
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    outline-color: transparent;
    top: 1%;
    left: 8%;
    font-size: 30px;
    color: #C4C4C4;
}

.registration-full form {
    width: 100%;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-full .form_column {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-top: 20px;
}

.registration-full .form_column input {
    width: 100%;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 5px;
    outline: #4400FF;
}

.registration-full label {
    color: #B6B6B6;
    font-size: 13px;
}

.registration-full .form_column input::placeholder {
    color: #B6B6B6;
    font-size: 13px;
    text-align: left;
}

.registration-full .form_column select {
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    outline: #4400FF;
}

.registration-full .form_flex {
    display: flex;
}

.registration-full .form_flex_1 input {
    width: 100%;
    height: 35px;
    text-align: left;
}

.registration-full input::placeholder {
    text-align: left;
}

.registration-full .marginL {
    margin-left: 10px;
}

.registration-full .form_flex_2 input {
    width: 50%;
    height: 35px;
}

.registration-full .form_flex_3 ul {
    display: flex;
}

.registration-full .form_flex_3 ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    margin-right: 45px;
    float: left;
    width: 60px;
    height: 15px;
}

.registration-full .form_flex_3 ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.registration-full .form_flex_3 ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 13px;
    padding-left: 34px;
    margin: 17px 0 18px 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    -webkit-tap-highlight-color: transparent;
}

.registration-full .form_flex_3 ul li .check {
    display: block;
    position: absolute;
    border: 1px solid #0075FF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 14px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.registration-full .form_flex_3 .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.registration-full .form_flex_3 [type=radio]:checked ~ .check {
    border: 1px solid #0075FF;
}

.registration-full .form_flex_3 [type=radio]:checked ~ .check::before {
    background: #0075FF;
}

.registration-full .form_flex_3 [type=radio]:checked ~ label {
    color: #0075FF;
}

.registration-full .form_flex_4 ul {
    display: flex;
}

.registration-full .form_flex_4 ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    margin-right: 25px;
    float: left;
    height: 15px;
}

.registration-full .form_flex_4 ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.registration-full .mt-5 {
    margin-top: 15px;
}

.registration-full .mt-6 {
    margin-top: 20px;
}

.registration-full .form_flex_4 ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 13px;
    padding-left: 34px;
    margin: 17px 0 18px 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    -webkit-tap-highlight-color: transparent;
}

.registration-full .form_flex_4 ul li .check {
    display: block;
    position: absolute;
    border: 1px solid #0075FF;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 14px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.registration-full .form_flex_4 .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.registration-full .form_flex_4 [type=radio]:checked ~ .check {
    border: 1px solid #0075FF;
}

.registration-full .form_flex_4 [type=radio]:checked ~ .check::before {
    background: #0075FF;
}

.registration-full .form_flex_4 [type=radio]:checked ~ label {
    color: #0075FF;
}

.registration-full .form_flex_1 input::placeholder {
    color: #B6B6B6;
    font-size: 13px;
    text-align: left;
}

.registration-full .form_flex_1 #time::placeholder,
.form_flex_1 #time2::placeholder,
.form_flex_1 #time3::placeholder {
    text-align: center;
    color: #0079fe;
}

.registration-full .marginY {
    margin: 0 10px;
}

.registration-full .marginX {
    margin-left: 11px;
}

.registration-full header form button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270.9deg, #5403FF 0.33%, #00CCFF 99.93%);
    border-radius: 5px;
    position: relative;
    bottom: 0;
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 36px;
    margin-bottom: 25px;
    outline-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
}

.registration-full #p1, #p2, #p3 {
    color: #FF0000;
}

.registration-full input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.registration-full input[type='number'] {
    -moz-appearance: textfield;
}

.registration-full input[type='date'] {
    -moz-appearance: textfield;
}

.about-the-app .about-the-app-header {
    padding: 0 25px;
}

.about-the-app .about-the-app-header h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-top: 36px;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #3D3D3D;
}

.about-the-app .about-the-app-header h3 {
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #3D3D3D;
}

.about-the-app .about-the-app-header .mt-2 {
    margin-top: 20px;
    font-size: 17px;
}

.about-the-app .about-the-app-header h2::after {
    content: '';
    display: block;
    margin-top: 2px;
    width: 20%;
    height: 2px;
    background: linear-gradient(192.04deg, #2272FE 0%, #8339FF 51.04%, #A700FF 100%);
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
}

.about-the-app .about-the-app-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 35px;
}

.about-the-app .about-the-app-price-box.active {
    border: 1px solid #18A9FF;
    color: white;
}

.btn-animation {
    margin: 40px 0;
    background: linear-gradient(274.33deg, #481BFD 6.48%, #481BFD 6.49%, #00CCFF 49.72%, #AAEBFF 55.49%, #43D8FF 58.83%, #00CCFF 99.85%, #00CCFF 99.85%);
    background-size: 400% 400%;
    border-radius: 5px;
    color: white;
    width: 300px;
    height: 45px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    z-index: 100;
    -webkit-animation: AnimationName 10s ease-in-out infinite;
    animation: AnimationName 10s ease-in-out infinite;
}

.btn-animation-text {
    z-index: 99999;
    position: relative;
}


.about-the-app .about-the-app-price-box {
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px 11px;
    width: 100%;
}

.pay-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 23px;
}

.pay-header .back {
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    height: 25px;
    background: transparent;
    border: none;
    outline-color: transparent;
    left: 5%;
    font-size: 30px;
    color: black;
    margin-bottom: 5px;
}

.pay-form{
    padding: 22px 23px;
}

.pay-form-label{
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
}

.pay-input{
    border: 0.5px solid #6B6B6B;
    border-radius: 15px;
}




.payment-method-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.payment-method-header .title {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    position: relative;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
}
.payment-method-header .title_info {
    display: block;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.payment-method-header .a-center {
    align-items: center;
    justify-content: center;
}

.payment-method-header .oplata .box_flex {
    width: 125px;
    height: 65px;
}
.payment-method-header .box_flex .fa {
    font-size: 36px;
    color: #2400FF;
}
.payment-method-header .box_flex span {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-left: 14px;
    color: #333333;
    letter-spacing: 0.05em;
}
.payment-method-header .box_flex p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    margin-top: 8px;
    color: #000000;
}
.payment-method-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.payment-method-header ul li {
    color: #AAAAAA;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
    width: 85%;
    height: 120px;
    border: 1px solid #A1A1A1;
    margin: 6px 0;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: content-box;

}
.payment-method-header ul li:hover{
    border: 2px solid #2472f8;
    box-shadow: 0 1px 10px 0 rgba(36, 114, 248, 0.52);
}

.payment-method-header ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.payment-method-header ul li label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    height: 80px;
    z-index: 9;
    cursor: pointer;
    padding-left: 30px;
    -webkit-transition: all 0.25s linear;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 0;
}
.payment-method-header ul li label .mar_bot {
    margin: 0 10px 10px 10px;
    width: 71px;
    height: 45px;
}
.payment-method-header ul li label .mar_ri {
    margin-left: 20px;
    width: 71px;
    height: 25px;
}
.payment-method-header .img_size{
    width: 71px;
    height: 25px;
}

.payment-method-header ul li .check {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #A1A1A1;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 40%;
    left: 5%;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.payment-method-header ul li .check::before {
    display: block;
    content: '';
    border-radius: 100%;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.payment-method-header input[type=radio]:checked~.check {
    border: 1px solid #0029FF;
}

.payment-method-header input[type=radio]:checked~.check::before {
    background: #0029FF;
}

.payment-method-header input[type=radio]:checked~label {
    color: #0029FF;
}
.payment-method-header form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment-method-header button,
.pay-body button {
    width: 140px;
    height: 40px;
    background: linear-gradient(270.9deg, #5403FF 0.33%, #00CCFF 99.93%);
    border-radius: 5px;
    bottom: 0;
    color: white;
    font-size: 18px;
    border: none;
    margin-bottom: 25px;
    outline-color: transparent;
    background-size: 400% 400%;
    animation: AnimationName 5s ease-in infinite;
}
.payment-method-header .bottomNext,
.pay-body .bottomNext{
    position: relative;
}

.payment-method-header .bottomNext p,
.pay-body .bottomNext p {
    color: #BBBBBB;
    margin-bottom: 20px;
    text-align: center;
}

.my-profile-back-img-gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120.34deg, #DC03FF -0.86%, #359CFF 69.89%, #00CCFF 85.83%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.my-profile-img{
    width: 134px;
    height: 134px;
}

.settings-box{
    display: flex;
    flex-direction: column;
}

.settings-box:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: linear-gradient(11.82deg, #00DDFF 0%, #4400FF 46.48%, #F600E7 90.06%);
}

.right-icon-angle{
    color: #c4c4c4;
    font-size: 24px;
}

.accordion-toggle i.icon-plus,
.accordion-toggle i.icon-minus {
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
    transform: rotate(90deg);
}
.accordion-toggle i.icon-plus {
    transform: rotate(0deg);
}

.my-settings-back-img-gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120.34deg, #DC03FF -0.86%, #359CFF 69.89%, #00CCFF 85.83%);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    position: relative;
}

.my-settings-img{
    width: 72px;
    height: 72px;
    position: relative;
    z-index: 4;
}

.my-settings-back-photo-img-gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.42);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
}

.b {
    display: block;
}

.toggle {
    width: 38px;
    position: relative;
    height: 24px;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}
.check:checked ~ .switch {
    right: 2px;
    width: 20px;
    height: 20px;
    left: 43%;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0.08s, 0s;
}
.social{
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #3D3D3D;
}
.transform .youtube_with{
    width: 30px;
    height: 20px;
}
.switch {
    position: absolute;
    width: 20px;
    left: 2px;
    height: 20px;
    top: 2px;
    bottom: 2px;
    right: 37.5%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, 0.08s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.toggler--is-active {
    background-color: #bbc;
    transition: 0.5s ease-in-out;
}

.toggler--in-active{
    background-color: #2ecc71;
    transition: 0.5s ease-in-out;
}

#time, #time2, #time3 {
    width: 38%;
    border: none;
    outline-color: transparent;
    font-size: 18px;
    height: 30px;
    color: #3766FE;
    background: transparent;
    text-align: left;
}

.for-time-input{
    color: #B6B6B6;
    font-size: 13px;
}

.my-settings .empty-block{
    height: 80px;
}

.theme-night{
    position: absolute;
    right: 40px;
}

.owl-item{
    margin-right: 50px;
}

.owl-item img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.owl-item .bg-opacity-4{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.owl-item .carousel-text{
    visibility: hidden;
}

.owl-item.active.center .carousel-text{
    visibility: visible;
}

.owl-item.active.center{
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.2);
}

.owl-item.active.center .bg-opacity-4{
    background: transparent;
    transition: all 0.5s ease-in-out;
}


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav {
    display: none !important;
}
.owl-carousel .owl-stage {
    height: 600px !important;
}

.header-my-new-music{
    height: 270px;
}

.header-img-my-new-music{
    position: absolute;
    top: 0;
    width: 100%;
}
.header-img-my-new-music img{
    width: 100%;
}

.header-img-my-new-music .bg-opacity-05{
    position: absolute;
}

.search-xit-music{
    position: relative;
    z-index: 15;
    padding-top: 20px;
}

.z-10{
    z-index: 10;
}

.back-prev{
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: absolute;
}

.search-pole{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

.search-pole:focus{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: unset;
    box-shadow: unset;
    color: white;
}

.search-pole::placeholder{
    color: white;
}

.bg-played{
    height: 2px;
    width: 100%;
    background: #B4B4B4;
    border-radius: 1px;
    position: relative;
    z-index: 2;
}

.ft-played{
    height: 2px;
    width: 28%;
    background: #595959;
    border-radius: 1px;
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ft-played-round-bg{
    display: block;
    width: 14px;
    height: 14px;
    background: rgba(103, 103, 103, 0.28);
    border-radius: 50%;
    position: absolute;
}

.ft-played-round{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    background: #595959;
    border-radius: 50%;
    position: relative;
    right: 0;
}

.game-first-entry-body{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-button{
    background-image: url("../images/button.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 170px;
    height: 40px;
}

.catalog-btn{
    padding: 5px 15px;
    background: linear-gradient(270deg, #4362BF 0%, #4068FB 100%);
    border-radius: 15px;
    border: none;
}

.border-span{
    height: 1px;
    width: 100%;
    background: #ffffff;
}

.find-word{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #4362DF;
    box-sizing: border-box;
    border-radius: 5px;
    color: #465DCB;
}

.find-word-enter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #4463C0 0%, #4169FC 100%);
    border-radius: 5px;
    color: white;
}































.my-music.night,
.my-new-music.night,
.my-music-play.night{
    background: #0A0A0A;
}

.my-music-play-header.night{
    background: #1A1A1A;
}

.ft-played-round-bg.night{
    background-color: transparent;
}
.ft-played.night,
.ft-played-round.night{
    background: white;
}

.list-icon-play.night{
    fill: white;
}

.menu-panel.night,.player-fixed.night{
    background: #0A0A0A;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.moon-icon.night{
    fill: white;
    stroke: white;
}

.list-icon-play{
    fill: black;
}

.moon-icon{
    fill: white;
    stroke-width: 1px;
    stroke: black;
}

.panel-icons.night{
    fill: white;
}

.panel-icons{
    fill: black;
}

.play-icon{
    fill: #595959;
}

.heart-icon{
    fill: black;
}

.heart-icon.night{
    fill: white;
}

.play-icon.night{
    fill: white;
}













.menu-panel{
    position: fixed;
    bottom: 0;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 24px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-fixed{
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}



.bg-white-opacity-08{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.83);
    z-index: 5;
}

.focus-none:focus{
    box-shadow: none;
    outline: unset;
    border-color: unset;
}


.line-height-22{
    line-height: 20px;
}

.color-42{
    color: #4261CD;
}

.color-B4{
    color: #B4B4B4;
}

.color-C4{
    color: #c4c4c4!important;
}

.text-32{
    font-size: 32px;
}

.text-48{
    font-size: 48px;
}

.text-36 {
    font-size: 36px;
}

.text-30{
    font-size: 30px;
}

.text-24{
    font-size: 24px;
}

.text-20{
    font-size: 20px;
}

.text-14{
    font-size: 14px;
}

.text-13{
    font-size: 13px;
}

.text-11{
    font-size: 11px;
}

.text-18 {
    font-size: 18px;
}

.text-17{
    font-size: 17px;
}

.bg-linear-dark-blue {
    background: linear-gradient(270deg, #3C31FF 0%, #0C97FE 100%);
}

.color-9C{
    color: #9E9E9E;
}

.rounded-10 {
    border-radius: 10px;
}

.bg-dark-yellow {
    background: #FFD800;
}

.eco-block {
    right: -1px;
    top: -1px;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-7{
    border-radius: 7px;
}

.border-color-light-blue{
    border-color: #95E5FF !important;
}

.border-color-A3{
    border-color: #A3A3A3 !important;
}

.border-color-A9{
    border-color: #A9A9A9 !important;
}

@-webkit-keyframes AnimationButton {
    0% {
        left: -100%;
    }
    100% {
        left: 120%;
    }
}

@keyframes AnimationButton {
    0% {
        left: -100%;
    }
    100% {
        left: 120%;
    }
}


@-webkit-keyframes AnimationName {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

